<!doctype html>
<html lang="{{ .Site.Language.Lang }}" class="no-js">
  <head>
    <script>document.documentElement.className="js"</script>
    {{ partial "head.html" . }}
  </head>
  <body>
    <a class="skip-link" href="#main">{{ i18n "skip_link" }}</a>
    {{ partial "header.html" . }}
    <main id="main">
      {{ block "main" . }}{{ end }}
    </main>
    {{ partial "footer.html" . }}
    {{ $js := resources.Get "js/site.js" | resources.Minify | resources.Fingerprint }}
    <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  </body>
</html>
